
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    mem_limit: 8g
    cpus: 2.0
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/akiro/docker/nextcloud/config:/config
      - /home/akiro/docker/nextcloud/data:/data
    ports:
      - 7070:443
    restart: unless-stopped
