services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    mem_limit: 2g
    cpus: 2.0
    networks:
      - x_network
    volumes:
      - /home/akiro/docker/uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock    
    ports:
      - 3001:3001
    security_opt:
      - no-new-privileges:true
    restart: always

networks:
  x_network:
    external: true
